<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.seckill.dao.SerialNumberMapper">
  <resultMap id="BaseResultMap" type="com.nowcoder.seckill.entity.SerialNumber">
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="INTEGER" property="value" />
    <result column="step" jdbcType="INTEGER" property="step" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from serial_number
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nowcoder.seckill.entity.SerialNumber">
    insert into serial_number (name, value, step
      )
    values (#{name,jdbcType=VARCHAR}, #{value,jdbcType=INTEGER}, #{step,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nowcoder.seckill.entity.SerialNumber">
    update serial_number
    set value = #{value,jdbcType=INTEGER},
      step = #{step,jdbcType=INTEGER}
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select name, value, step
    from serial_number
    where name = #{name,jdbcType=VARCHAR} for update
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select name, value, step
    from serial_number
  </select>
</mapper>